<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a heft="#">MS</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About us!', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>